<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Najdrony.sk</title>

    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="noindex,nofollow,noodp"><!-- All Search Engines -->
    <meta name="googlebot" content="noindex,nofollow"><!-- Google Specific -->

    <link href='https://fonts.googleapis.com/css?family=Black+Ops+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- Facebook sharing -->
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/sk_SK/sdk.js#xfbml=1&version=v2.7&appId=272576406447786";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <!-- App container -->
    <div id="app"></div>

    <!-- Google+ sharing -->
    <script src="https://apis.google.com/js/platform.js" async defer>
        {lang: 'sk'}
    </script>
</body>