@import "{}/client/styles/sass/dimensions.scss";
@import "{}/client/styles/sass/colors.scss";

.wrapper {
  margin: 10px;

  .product {
    width: 188px;
    height: 304px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: $cornerRadius;
    border: 1px solid $border;
    box-shadow: $boxShadow;
    font-size: 18px;
    padding: 15px 8px 28px 8px;

    img {
      width: 100%;
      margin-bottom: 20px;
    }

    .title {
      text-align: center;
      flex-grow: 1;
      overflow: auto;
    }

    .price {
      color: $accent;
    }

    .buyButton {
      background-color: $accent;
      color: $textWhite;
      width: 210px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: -28px;
      border-radius: 0 0 $cornerRadius $cornerRadius;
    }
  }

  .product:hover {
    cursor: pointer;
  }
}