@import "{}/client/styles/sass/colors.scss";
@import "{}/client/styles/sass/dimensions.scss";

.container {
  background-color: $bgBody;
  border-radius: $cornerRadius;
  box-shadow: $boxShadow;
  padding: 20px;
  width: 245px;
}

.content {
  ul > li {
    line-height: 1.5em;
  }
}
