@import "{}/client/styles/sass/dimensions.scss";
@import "{}/client/styles/sass/colors.scss";

.container {
  display: flex;
}

.menu {
  margin-top: -65px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  margin-left: 10px;
}