@import "{}/client/styles/sass/colors.scss";

.container {
  display: flex;
  color: $accent;
  flex-direction: column;

  .logoWrapper {
    display: flex;
    justify-content: center;
    height: 148px;
    align-items: center;
    margin-bottom: 15px;
  }

  .title {
    text-align: center;
    font-size: 38px;
    background-color: rgba(255, 255, 255, 0.67);
    padding-top: 20px;
  }

  .countdown {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.67);
    flex-wrap: wrap;

    .part {
      margin: 30px;

      .value {
        background-color: $accent;
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $textWhite;
        border-radius: 70px;
        font-size: 50px;
      }

      .label {
        text-align: center;
        margin-top: 15px;
        font-size: 32px;
      }
    }
  }
}