$textDefault: #373737;
$textLight: #8f8f8f;
$textBold: #2d2d2d;
$textHeader: #131313;
$textWhite: white;

$bgHeader: #f98383;
$bgBody: #fdfdfd;
$border: #e1e1e1;
$bgPanel: #fcf9f9;

$accent: #ef3737;
$overlay: rgba(255, 255, 255, 0.86);
$boxShadow: rgba(121, 121, 121, 0.2) 0 0 14px 0;
