@import "{}/client/styles/sass/colors.scss";
@import "{}/client/styles/sass/dimensions.scss";

.wrapper {
  background-color: $bgHeader;
  border-top: 4px solid $accent;
  height: 160px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $pageWidth;
  margin: auto;
  padding-top: 20px;
}

.topMenu {
  display: flex;
  width: 230px;
  justify-content: space-between;
}
