@import "{}/client/styles/sass/dimensions.scss";

.wrapper {
  margin-left: -50px;

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
}

.title {
  color: white;
  font-family: 'Black Ops One', cursive;
  font-size: $titleTextSize;
}