@import "{}/client/styles/sass/colors.scss";
@import "{}/client/styles/sass/dimensions.scss";

.link {
    a {
        text-decoration: none;
        color: $textBold;
        font-size: $normalTextSize;
        transition: all .25s ease;
    }

    a:hover {
        color: $textWhite;
    }
}