<body>
<div class="container">
    <header>
        <div>{{> React component=Header}}</div>
    </header>
    {{> App_body}}
    <button class="about-us"></button>

    <label class="hide-completed">
        <input type="checkbox" />
        Hide Completed Tasks
    </label>

    <form class="new-task">
        <input type="text" name="text" placeholder="Type to add new tasks" />
    </form>

    <ul>
        {{#each tasks}}
            {{> task}}
        {{/each}}
    </ul>
</div>
</body>
<template name="App_body">
    {{> Template.dynamic template=main}}
</template>