<template name="task">
    <li class="{{#if checked}}checked{{/if}}">
        <button class="delete">&times;</button>

        <input type="checkbox" checked="{{checked}}" id="ID_{{_id}}" class="toggle-checked" />

        <label for="ID_{{_id}}" class="text" >{{text}}</label>
    </li>
</template>